<li>
    <div class="mt-1 row">
        <div class="col-md-4">
            <h6>{{burger_name}}</h6>
        </div>

        <div class="col-md-8">
            <button type="submit" class="deleteBurgerBtn ml-2 float-right btn btn-danger" data-id="{{id}}">Delete</button>
            <button type="submit" class="devourBurgerBtn float-right btn btn-dark" data-id="{{id}}">Devour</button>
        </div>
    </div>
</li>